* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');
  
  body {
    background:#e0e0e0;
    font-family: 'Montserrat', sans-serif;
    color: #f5f5f5;
    line-height: 1.6;
  }
  
  /* HEADER */
  header {
    top: 0;
    z-index: 1000;     /* fica acima do conteúdo */
    background: #0808ca;
    padding: 9px;
    border-bottom: 2px solid #e5e4ee;
    display: flex;
    align-items: center;
    position: sticky;
  }
  
  header h1 {
    text-align: left;
    font-size: 30px;
    color: #f6f6fa;
    font-family: "Bebas Neue", sans-serif;
    margin-left: 10px;
    text-shadow: 1px 1px 1px rgba(18, 18, 24, 0.7);
  
  }
  header p {
    text-align:right;
    font-family: "Bebas Neue", sans-serif;
    color: #f6f6fa;
    padding-left: 20px;
    font-size: 19px;
    text-shadow: 1px 1px 1px rgba(18, 18, 24, 0.7);
  }
  #menu-toggle {
    background: #111;
    color: #fff;
    border: none;
    padding: 7px 7px;
    font-size: 18px;
    border-radius: 6px;
    cursor: pointer;
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1100;
  }
  
  /* menu lateral */
  #side-menu {
    position: fixed;
    top: 0;
    right: -350px; /* escondido */
    width: 350px;
    height: 100%;
    background: #111;
    color: white;
    transition: right 0.4s ease;
    padding: 20px;
    z-index: 2000;
    box-shadow: -2px 0 5px rgba(0,0,0,0.5);
    border-radius: 8px 0 0 8px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  
  #side-menu.active {
    color: #383636;
    right: 0; /* aparece */
  }
  
  #side-menu ul {
    list-style: none;
    padding: 0;
    margin-top: 40px;
  }
  
  #side-menu ul li {
    padding: 5px;
    margin: 20px 0;
    text-align: center;
    border-radius: 5px;
    transition: background-color 0.3s;
  
  }
  
  #side-menu ul li a {
    text-shadow: 0 0 3px (0,0,0,0.3)#040404;
    text-decoration: none;
    color: rgb(255, 252, 252);
    font-size: 20px;
    display: block;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
  
  }
  #side-menu ul li a:hover {
    text-shadow: 0 0 3px (0,0,0,0.3)#040404;
    color: #ffffff;
    background-color: #073caf;
  
  }
  /**/
.planos {
    text-align: center;
    padding: 50px 20px;
    background-color: #969696;
  }
  .container-planos {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 30px;
  }
  .plano {
    background-color: rgb(233, 224, 224);
    padding: 100px;
    border-radius: 20px;
    width: 300px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
  }
  .plano:hover {
    transform: scale(1.03);
  }
  .plano h3 {
    font-size: 30px;
    color: #000000;
  }
  .preco {
    font-size: 25px;
    color: #494949;
    margin: 10px 0;
  }
  .plano ul {
    color: #000000;
  }
  
  .plano ul li {
    color: #000000;
  }

  