* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=BBH+Sans+Hegarty&family=Cabin:ital,wght@0,400..700;1,400..700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');

body {
  background:#0B0C10;
  font-family: 'Montserrat', sans-serif;
  color: #f5f5f5;
  line-height: 1.6;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 30px;
  background: #000000;
  position: sticky;
  top: 0;
  z-index: 1000;
  box-shadow: 0 4px 15px rgba(0,0,0,0.25);
  transition: background 0.3s, box-shadow 0.3s;
  border-bottom: 2px solid #ff0000;
}
#TITULO{
  color:#ff0000;
}
.logo {
  display:flex;
  align-items:center;
  gap:10px;}

.logo h1 {
  font-family:"Bebas Neue", sans-serif;
  color:#f5f5f5;
  font-size:32px;
  text-shadow:2px 2px 5px rgba(0,0,0,0.5);}

.logo p {
  font-family:"Bebas Neue", sans-serif;
  font-size: 16px;
  color: #eaeaf4;
  margin-top: 2px;
}

/* MENU FIXO DESKTOP */
.main-nav ul {
  display: flex;
  list-style: none;
  gap: 35px;
}
.main-nav a {
  color: #eaeaf4;
  text-decoration: none;
  font-family: "Bebas Neue", sans-serif;
  font-size: 20px;
  position: relative;
  transition: color 0.3s;
}
.main-nav a::after {
  content: '';
  position: absolute;
  width: 0;
  height: 3px;
  bottom: -4px;
  left: 0;
  background: #ff0000;
  transition: 0.3s;
  border-radius: 2px;}

.main-nav a:hover::after {
  width: 100%;}

/* Esconder menu fixo em telas pequenas */
@media (max-width: 1000px) {
  .main-nav {
    display: none;}
  #menu-toggle {
    display: block;}}

/* Botão só aparece <1000 */
#menu-toggle {
  display: none;
  align-items: center;
  justify-content: center;
  padding: 10px 14px;
  font-size: 30px;
  background-color: #000000;
  color: #ffffff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s, transform 0.3s;}

@media (max-width: 1000px) {
  #menu-toggle {
    display: block;}}

#menu-toggle:hover {
  transform: rotate(90deg) scale(1.1);}

/* Menu lateral mobile */
#side-menu {
  position:fixed;
  top:0;
  right:-320px;
  width:320px;
  height:100%;
  background:rgba(18,18,24,0.95);
  backdrop-filter:blur(8px);
  padding:40px 20px;
  transition:right 0.4s ease;
  z-index:2000;
  display:flex;
  flex-direction:column;
  gap:25px;}

#side-menu.active {
  right: 0;}

#side-menu ul {
  list-style:none;
  padding:0;
  margin:0;
  display:flex;
  flex-direction:column;
  align-items:center;
  height:100%;
  gap:25px;}

#side-menu li a {
  display: block;
  font-size: 20px;
  color: #eaeaf4;
  text-decoration: none;
  padding: 10px 20px;
  transition: color 0.3s, transform 0.3s;
  text-align: center;
}
#side-menu li a:hover {transform: scale(1.05);}

/* OVERLAY */
#overlay {
  display: none;}

#overlay.active {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0,0.5);
  z-index: 1000;
  backdrop-filter: blur(2px);}

section.sobre {
  border-radius: 8px;
  padding: 80px 20px;
  max-width: 1000px;
  margin: 0px ; }

section.sobre p {
  margin-bottom: 20px;
  padding: 0 10px;
  font-size: 18px;
  color: #F5F7FA;
  line-height: 1.8;
  text-align: justify;
  font-weight: 400;
}
section.sobre h2 {
  margin: 15px;
  font-size: 38px;
  color: #F5F7FA;
  text-align: left;
  margin-bottom: 20px;

  font-family:"BBH Sans Hegarty", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* HERO */
.hero {
  text-align: center;
  padding: 100px 20px;
  background: linear-gradient(rgb(0, 0, 15), rgba(0, 0, 70, 0.651)),
              url("https://images.unsplash.com/photo-1593079831268-3381b0db4a77") center/cover no-repeat;
  color: #fff;
  margin-bottom: 40px;
}

.hero h2 {
  font-size: 35px;
  margin-bottom: 20px;
  color: #ffffff;
  font-family:"BBH Sans Hegarty", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.hero p {
  text-align:center;
  font-size: 20px;
  max-width: 700px;
  margin: 0 auto 30px auto;
}
.hero #valor {
  font-size: 40px;
  color: #ffcc00;
  font-weight: bold;
  text-shadow: 1px 1px 5px rgba(0,0,0,0.5);

}

/* Botão  */
.btn {
  font-size: 25px;
  text-decoration: none;
  font-family: "Bebas Neue", sans-serif;
  display: inline-block;
  padding: 14px 28px;
  background: #000000;
  color: #ffffff;
  text-shadow: 1px 1px 5px rgba(0,0,0,0.5);
  font-weight: 700;
  border-radius: 8px;
  position: relative;
  overflow: hidden;
  transition: 0.3s;
}

.btn:hover {
  background: rgb(255, 0, 0);
  color: #F5F7FA;
  box-shadow: 0 6px 20px rgba(1, 27, 48, 0.7);
}

/* SEÇÕES INTERNAS */
main section {
  margin: 60px auto;
  max-width: 1000px;
  padding: 20px;
  text-align: center;
}

main section h2 {

  font-size: 32px;
  margin-bottom: 25px;
  color: #F5F7FA;
}

.cards {
  text-align: center;
  padding: 60px 20px;
}

.cards h2 {
  font-family: "Bebas Neue", sans-serif;
  font-size: 36px;
  margin-bottom: 40px;
  color: #F5F7FA;
}

/* CARDS GERAIS */
.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;
}

/* CARD DE SERVIÇO */
.card {
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  background: #111;
  border-radius: 10px;
  overflow: hidden;
  width: 300px;
  opacity: 0;
  animation: slideUp 0.9s forwards;
}

.card img {
  width: 100%;
  height: 190px;
  object-fit: cover;
  transition: transform 0.3s;
}

.card h3 {
  font-family:Arial, Helvetica, sans-serif;
  margin: 15px 0;
  color: #F5F7FA;
  font-size: 20px;

}

.card p {
  font-family: Arial, Helvetica, sans-serif;
  padding: 15px 20px 20px;
  color: #F5F7FA;
  font-size: 16px;

}


/* CARD DE INSTRUTOR */
.cardinstrutor {
  background: #111;
  border-radius: 12px;
  overflow: hidden;
  width: 300px;
  opacity: 0;
  transform: translateY(50px);
  animation: slideUp 0.6s forwards;
  transition: box-shadow 0.3s;
}

.cardinstrutor img {
  width: 100%;
  height: 400px;
  object-fit: cover;
  transition: transform 0.3s;
}


.cardinstrutor h3 {
  margin: 15px 0;
  color: #F5F7FA;
  font-size: 27px;
  font-family: "Bebas Neue", sans-serif;
}

.cardinstrutor p {
  padding: 0 15px 20px;
  color: #F5F7FA;
  font-size: 16px;
}

/* ANIMAÇÃO DE APARECER */
@keyframes slideUp {
  from { opacity: 0; transform: translateY(50px); }
  to { opacity: 1; transform: translateY(0); }
}

.cta {
  text-align: center;
  padding: 40px 20px;
  color: #F5F7FA;
}

.cta h2 {
  margin-bottom: 25px;
  font-size: 30px;
  color: #F5F7FA;
  font-family:"BBH Sans Hegarty", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.cta p {
  font-size: 20px;
  margin-bottom: 30px;
  color: #F5F7FA;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

footer {
   text-align: center;
  background: #0B0C10;
  color: #F5F7FA;
  padding: 40px 20px;
  box-shadow: 0 -2px 8px rgba(0,0,0,0.1);
}
footer h3 {
  font-family: "Bebas Neue", sans-serif;
  font-size: 24px;
  margin-bottom: 10px;
  color: #F5F7FA;
}

footer p {
  color: #F5F7FA;
  font-size: 14px;
}

.services-hero{
  background:#0808ca;
  color:#F5F7FA;
  padding:56px 20px 40px;
  text-align:center;
  box-shadow:0 2px 10px rgba(0,0,0,.12);
}
.services-hero h1{
  font-family:"Bebas Neue",sans-serif;
  letter-spacing:.5px;
  font-size:32px;
}


.services-grid-wrapper{
  max-width:1200px;
  margin:28px auto 64px;
  padding:0 20px;
}

.service-grid{
  display:grid;
  grid-template-columns:repeat(3,1fr);
  gap:22px;
}
@media (max-width:900px){ .service-grid{ grid-template-columns:repeat(2,1fr);} }
@media (max-width:600px){ .service-grid{ grid-template-columns:1fr;} }

.service-card{
  background:#fff;
  border-radius:12px;
  box-shadow:0 8px 24px rgba(0,0,0,.12);
  overflow:hidden;
  transition:transform .16s ease, box-shadow .16s ease;
  max-width: 320px;
  margin: 0 auto;
}
.service-card:hover{
  transform:translateY(-4px);
  box-shadow:0 14px 32px rgba(0,0,0,.18);
}
.service-thumb{
  width:100%;
  height:200px;
  object-fit:cover;
  display:block;
  border-top-left-radius:12px;
  border-top-right-radius:12px;
}


.service-body{
  background:#fff;
  padding:16px 18px 20px;
  text-align:center;
}
.service-body h3{
  color:#F5F7FA;
  font-weight:700;
  font-size:clamp(16px,1.8vw,20px);
  margin:10px 0 8px;
  line-height:1.25;
}
.service-body p{
  color:#2b2b2b;
  font-size:14.5px;
  line-height:1.6;
  margin:0;
}


.services-cta{
  display:inline-block;
  margin:26px auto 0;
}
#tabelaAlunos {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

#tabelaAlunos th, #tabelaAlunos td {
  border: 1px solid #ccc;
  padding: 12px;
  text-align: left;
}

#tabelaAlunos th {
  background: #0808ca;
  color: #F5F7FA;
  font-weight: bold;
}

#tabelaAlunos tr:nth-child(even) {
  background: #f9f9f9;
/* 757acde9d27a89176abfa63f62fdbe752dece07d */
}

